.container {
    display: flex;
    /* flex-direction: column; */
    background-color: aqua;
    height: 500px;
    width: 1000px;
    border: 1px solid black;
    /* flex-wrap: wrap |nowrap; */
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: brown;
    text-align: center;
    align-content: center;
    flex-grow: 1;
}
.box2{
    order:-1;
    flex-grow: 2;
    align-self: flex-end
}